
body {
    background-image: url("holidayLegs.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

input {
    height: 22pt;
    border-radius: 5pt;
    border-width: 0.5pt;
}

.container {
    width: 85%;
    padding: 50pt;
}

.transparent-bg {
    background: rgba(250, 250, 250, 0.5);
    padding: 20pt;
    border-radius: 10pt;
}

.form-control {
    width: 50%;
}

.btn-primary {
    border-radius: 10pt;
    background-color: #4CAF50; /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}