<div class="container">
    <p>destination-form works!</p>

<form  (ngSubmit)="onSubmit(destForm)" #destForm="ngForm">

    <label for="idInput">Destination id (number):</label>
    <input class="form-control" type="number" id="idInput" name="id" ngModel>

    <label for="nameInput">Name of new destination:</label>
    <input class="form-control" type="text" id="nameInput" name="name" ngModel>

    <button class="button" type="submit">Save me!</button>

    <!-- <label for="idInput">Destination id (number):</label>
    <input class="form-control" type="text" [(ngModel)]="dest.id" id="idInput" name="dest.id" required>

    <label for="nameInput">Name of new destination:</label>
    <input class="form-control" type="text" [(ngModel)]="dest.name" id="nameInput" name="dest.name" required>

    <button class="button" type="submit" (click)="onSubmit()">Save</button> -->
</form>
</div>